{extend name="public/base"}
{block name="center_top"}
    <li><a href="{:url('Admin/index')}">管理员列表</a></li>
{/block}
{block name="center"}
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 列表
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <!-- <i class="am-icon-search"></i> -->
                            <input type="text" class="form-control form-control-solid" style="height: 37px;" placeholder="搜索..."> </div>
                    </div>
                    <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                </div>
                
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button onclick="add('{:url('Admin/add')}');" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                <!-- <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button> -->
                                <!-- <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button> -->
                                <!-- <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                    <tr>
                                        <th class="table-check"><input type="checkbox" class="tpl-table-fz-check" ></th>
                                        <th class="table-id">ID</th>
                                        <th class="table-title">账号</th>
                                        <th class="table-type">姓名</th>
                                        <th class="table-author am-hide-sm-only">头像</th>
                                        <th class="table-date am-hide-sm-only">注册时间</th>
                                        <th class="table-date am-hide-sm-only">状态</th>
                                        <th class="table-set">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    {foreach name="list" item="vo"}
                                        <tr>
                                            <td><input type="checkbox" class="ace" name="ids" value="{$vo.id}"></td>
                                            <td>{$vo.id}</td>
                                            <td><a href="#">{$vo.username}</a></td>
                                            <td>{$vo.name}</td>
                                            <td class="am-hide-sm-only"><img src="{$vo.picname}" width="100px"></td>
                                            <td class="am-hide-sm-only">{$vo.addtime}</td>
                                            <td class="am-hide-sm-only">{$vo.state}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        {switch name="Think.session.adminuser.id"}
                                                            {case value="$vo.id" }
                                                                <button onclick="grsz('{:url('Admin/edit',['id' => $vo['id']])}');" type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-pencil-square-o"></span> 个人设置</button>
                                                                <!-- <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button> -->
                                                            {/case}
                                                            {default /}
                                                            <button onclick="edit('{:url('Admin/edit',['id' => $vo['id']])}');" type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                            <button onclick="del('{$vo.id}','{:url('Admin/del')}');" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>                                                            
                                                        {/switch}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {/foreach}

                                </tbody>
                            </table>
                            <div class="am-cf">
                                <!-- 分页 -->
                                <div class="sabrosus">{$page}</div>
                            </div>
                            
                            <!-- <div class="sabrosus"> -->
                                <!-- <ul class="pagination"> -->
                                    <!-- <li class="disabled"><span>«</span></li>  -->
                                    <!-- <li class="active"><span>1</span></li> -->
                                    <!-- <li><a href="/admin.php/admin/index.html?page=2">2</a></li>  -->
                                    <!-- <li><a href="/admin.php/admin/index.html?page=2">»</a></li> -->
                                <!-- </ul> -->
                            <!-- </div> -->
                            
                            
                            
                            
                            <!-- <div class="am-cf"> -->
                                <!-- <div class="am-fr"> -->
                                    <!-- <ul class="am-pagination tpl-pagination"> -->
                                        <!-- <li class="am-disabled"><a href="#">«</a></li> -->
                                        <!-- <li class="am-active"><a href="#">1</a></li> -->
                                        <!-- <li><a href="#">2</a></li> -->
                                        <!-- <li><a href="#">3</a></li> -->
                                        <!-- <li><a href="#">4</a></li> -->
                                        <!-- <li><a href="#">5</a></li> -->
                                        <!-- <li><a href="#">»</a></li> -->
                                    <!-- </ul> -->
                                <!-- </div> -->
                            <!-- </div> -->
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
{/block}
{block name="js"}
    <script src="__STATIC__/admin/js/adminindex.js"></script>
{/block}